# Python caches
__pycache__
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Git repository
.git
.gitignore

# Node modules (if applicable)
node_modules/

# Docker files
Dockerfile
docker-compose.yaml

# IDE files
.vscode/
.idea/