{% extends "layout.html" %}
{% block title %}Homepage Page{% endblock %}
{% block body %}

    {% include 'navbar.html' %}
    {% block style %}
    <style>
        #ocrButton {
            display: none;
            padding: 10px 20px;
            justify-content: center;
            margin-top: 20px;
        }
        
    </style>
    {% endblock %}

    <div class="flex flex-col items-center justify-center p-20 relative bg-gray-900 ">

        <div class="grid grid-cols-2 gap-8 w-full px-4 max-w-[90%]">
            <!-- Pie Chart Section -->
            <div class="flex items-center justify-center bg-main-20 p-8 rounded shadow-md">
                <canvas id="pieChart" width="400" height="300"></canvas>
            </div>
            
            <!-- Upload Form Section -->
            <div class="bg-main-20 p-12 rounded shadow-md flex  justify-center">
                <div class="max-w-lg w-full">
                    <h1 class="text-3xl font-bold mb-6 text-gray-200 text-center">Upload Invoice</h1>
    
                    <!-- Flash Messages -->
                    <div class="text-center flex flex-col items-center mx-4 min-h-6">
                        {% with messages = get_flashed_messages(with_categories=True) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'alert-success' %}
                                        <div id="success-msg" class="text-green-500 font-semibold">
                                            {{ message }}
                                        </div>
                                    {% else %}
                                        <div class="text-red-500 font-bold">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <div class="text-red-500 hidden" id="fileMessage">Only PDF files are allowed</div>
                    </div>
    
                    <!-- Form -->
                    <div class="mt-6">
                        <form id="uploadForm" method="POST" enctype="multipart/form-data" action="{{ url_for('main.homepage') }}">
                            <div
                                id="dropArea"
                                class="border-dashed border-2 border-gray-300 rounded-lg p-8 mb-4 flex flex-col items-center justify-center cursor-pointer hover:bg-gray-500 transition duration-200"
                                onclick="document.getElementById('fileInput').click()"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mb-3 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                                </svg>
                                <p class="text-gray-300 text-center">Drag and drop your files here or click to select</p>
                                <input type="file" name="files" id="fileInput" multiple required class="hidden" 
                                       onchange="showFileNames()" accept="application/pdf">
                            </div>
    
                            <ul id="fileNames" class="mb-4 text-gray-100 pl-4"></ul>
    
                            <button type="submit"
                                    class="w-full bg-accent-40 text-black py-2 rounded hover:bg-accent hover:text-white transition duration-200">
                                Upload
                            </button>
                        </form>
    
                        <a href="{{ url_for('main.my_invoices') }}">
                            <button type="submit" id="ocrButton"
                                    class="w-full bg-accent-40 text-black py-2 rounded hover:bg-accent hover:text-white transition duration-200 hidden mt-4">
                                Go To My Invoices
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='scripts/chart.umd.js') }}"></script>
    
    <script>
        // Get the data passed from Flask
        var pieLabels = {{ pie_labels|tojson|safe }};
        var pieData = {{ pie_data|tojson|safe }};
        const TextColor = 'rgb(229,231,235)';
        
        // Create Pie Chart
        var ctxPie = document.getElementById('pieChart').getContext('2d');
        var pieChart = new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: pieLabels,
                datasets: [{
                    data: pieData,
                    backgroundColor: [
                        '#4E79A7',  // blue
                        '#F28E2B',  // orange
                        '#E15759',  // red
                        '#76B7B2',  // teal
                        '#59A14F',  // green
                        '#EDC948',  // yellow
                        '#B07AA1',  // purple
                        '#FF9DA7',  // pink
                        '#9C755F',  // brown
                        '#BAB0AC'   // gray
                    ],
                    borderColor: 'rgba(255, 255, 255, 0.2)',  // Subtle white border
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Total CO2 Emissions by Service',
                        color: TextColor,
                        font: {
                            size: 28
                        }
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            color: TextColor,
                            font: {
                                size: 12
                            }
                        }
                    }
                }
            }
        });
    </script>
    
    

    <script>
        const fileInput = document.getElementById('fileInput');
        const dropArea = document.getElementById('dropArea');
        const errorMessage = document.getElementById('fileMessage');
        let selectedFiles = [];

    function showFileNames() {
        const fileNamesDisplay = document.getElementById('fileNames');

        fileNamesDisplay.innerHTML = '';

        // Hide the error message
        errorMessage.style.display = 'none';

        // Display loop for selected files
        if (selectedFiles.length > 0) {
            selectedFiles.forEach((file, index) => {
                // If the file is not a PDF, display an error message and remove it from the selectedFiles array
                if (file.type !== 'application/pdf') {
                    errorMessage.style.display = 'block';
                    // Remove the invalid file from the selectedFiles array
                    selectedFiles.splice(index, 1);
                }
                else
                {
                    const li = document.createElement('li');
                    li.classList.add('flex', 'justify-between', 'items-center');

                    const fileName = document.createElement('span');
                    fileName.textContent = file.name;
                    li.appendChild(fileName);

                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete';
                    deleteButton.className = 'text-red-500 ml-4 hover:underline';
                    deleteButton.onclick = () => {
                        deleteFile(index);
                    };
                    
                    li.appendChild(deleteButton);
                    fileNamesDisplay.appendChild(li);
                }
            });
        }
    }

    function deleteFile(index) {
        selectedFiles.splice(index, 1);
        updateFileInput();
        showFileNames();
    }

    function updateFileInput() {
        const dataTransfer = new DataTransfer();
        selectedFiles.forEach(file => {
            dataTransfer.items.add(file);
        });
        fileInput.files = dataTransfer.files;
    }

    function isDuplicate(file) {
        return selectedFiles.some(existingFile =>
            existingFile.name === file.name && existingFile.size === file.size
        );
    }

    dropArea.addEventListener('dragover', (event) => {
        event.preventDefault();
        dropArea.classList.add('bg-gray-300');
    });

    dropArea.addEventListener('dragleave', () => {
        dropArea.classList.remove('bg-gray-300');
    });

    dropArea.addEventListener('drop', (event) => {
        event.preventDefault();
        dropArea.classList.remove('bg-gray-300');

        const files = Array.from(event.dataTransfer.files);
        const newFiles = files.filter(file => !isDuplicate(file));
        selectedFiles = selectedFiles.concat(newFiles);

        if (files.length > 0) {
            updateFileInput();
            showFileNames();  
        }
    });

    fileInput.addEventListener('change', () => {
        const files = Array.from(fileInput.files);

        const newFiles = files.filter(file => !isDuplicate(file));
        selectedFiles = selectedFiles.concat(newFiles);

        updateFileInput();
        showFileNames();
    });

    // Show the "Go To My Invoices" button if there's a success message
    window.addEventListener('DOMContentLoaded', () => {
        const successMsg = document.getElementById('success-msg');
        if (successMsg && successMsg.classList.contains('text-green-500')) {
            document.getElementById('ocrButton').style.display = 'block';
        }
    });
</script>
{% endblock %}
