{% extends "layout.html" %}
{% block title %}My Invoices{% endblock %}

{% block body %}
    {% include 'navbar.html' %}

    {% block style %}
        <style>
            .invoice-table td {
                text-align: center;
                color: black;
                padding: 10px;
            }

            .invoice-table th {
                color: black;
                background-color: #f3f4f6;
            }

            .invoice-table tr:nth-child(odd) {
                background-color: #e5e4e2;
            }

            .invoice-table tr:hover {
                background-color: #e5e7eb; /* Lighter grey for hover to ensure it's distinct */
                cursor: pointer;
            }
        </style>
    {% endblock %}

    <div class="flex flex-col items-center justify-start min-h-screen pt-10 relative">
        <h1 class="text-4xl font-bold mb-6 text-white">My Invoices</h1>

        <div class="text-center flex flex-col items-center mx-4 min-h-6">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ 'text-green-500 font-semibold' if category == 'alert-success' else 'text-red-500 font-bold' }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="text-red-500 hidden" id="fileMessage">Only PDF files are allowed</div>
        </div>

        <!-- Invoice Table -->
        <div class="w-full max-w-4xl bg-white rounded-lg shadow-md mt-6 overflow-x-auto">
            <table class="invoice-table">
                <thead>
                    <tr>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">OCR Status</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Carbon Footprint (CO2eq)</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Services</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Issue Date</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Invoice Number</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Issuer</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Receiver</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Total</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Issuer Address</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Receiver Address</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Issuer Registration Number</th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Receiver Registration Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr class="border-b border-gray-200 text-sm"
                    onclick="window.location.href='/my-invoices/invoice/{{ invoice.id }}'">
                        <td class="border-b border-gray-200 bg-white text-sm invoice-status">
                        {% if invoice.file and invoice.file.ocr_status == "Pending" %}
                            <span class="text-white font-semibold">Pending</span>
                        {% elif invoice.file and invoice.file.ocr_status == "Processing" %}
                            <span class="text-white font-semibold">Processing</span>
                        {% elif invoice.file and invoice.file.ocr_status == "Complete" %}
                            <span class="text-green-500 font-semibold">Complete</span>
                        {% else %}
                            <span class="text-red-500 font-semibold">Error</span>
                        {% endif %}
                        </td>
                        <td>{{ invoice.total_emissions }}</td>
                        <td>{{ invoice.services | length  }}</td>
                        <td>{{ invoice.issue_date.strftime('%Y-%m-%d') if invoice.issue_date else 'N/A' }}</td>
                        <td>{{ invoice.issue_number }}</td>
                        <td>{{ invoice.issuer }}</td>
                        <td>{{ invoice.receiver }}</td>
                        <td>{{ invoice.sum_total }}</td>
                        <td>{{ invoice.issuer_address }}</td>
                        <td>{{ invoice.receiver_address }}</td>
                        <td>{{ invoice.issuer_registration_number }}</td>
                        <td>{{ invoice.receiver_registration_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
      function updateInvoiceRow(invoice) {
        const row = document.getElementById(`invoice-${invoice.id}`);
        if (!row) return;

        const statusCell = row.querySelector('.invoice-status');
        let statusHtml = '';

        if (invoice.file.ocr_status === 'Pending') {
          statusHtml = '<span class="text-white font-semibold">Pending</span>';
        } else if (invoice.file.ocr_status === 'Processing') {
          statusHtml = '<span class="text-white font-semibold">Processing</span>';
        } else if (invoice.file.ocr_status === 'Complete') {
          statusHtml = '<span class="text-green-500 font-semibold">Complete</span>';
        } else {
          statusHtml = '<span class="text-red-500 font-semibold">Error</span>';
        }
        statusCell.innerHTML = statusHtml;
      }

      function fetchStatusUpdates() {
        fetch("{{ url_for('main.invoice_status') }}")
          .then(response => response.json())
          .then(data => {
            data.forEach(invoice => {
              updateInvoiceRow(invoice);
            });
          })
          .catch(err => console.error('Error fetching invoice status:', err));
      }

      // Send GET request to server every 10 seconds
      setInterval(fetchStatusUpdates, 10000);
    </script>
{% endblock %}
