{#https://tailwindflex.com/@boxdemo/show-user-details-2#}
{% extends "layout.html" %}
{% block title %}Invoice{% endblock %}
{% block body %}
<div class="overflow-hidden shadow rounded-lg border box">
    <div class="px-4 py-5 sm:px-6">
        <div class="flex justify-between items-center">
            <h3 class="text-lg leading-6 font-medium">
                Detailed invoice {{ invoice.issue_number }} information
            </h3>
        </div>
    </div>

    {% set fields = [
        {'label': 'Total Carbon Footprint', 'value': invoice.total_emissions ~ ' CO2eq'},
        {'label': 'Issue Date', 'value': invoice.issue_date.strftime('%Y-%m-%d') if invoice.issue_date else 'N/A'},
        {'label': 'Invoice Number', 'value': invoice.issue_number},
        {'label': 'Issuer', 'value': invoice.issuer},
        {'label': 'Issuer Registration Number', 'value': invoice.issuer_registration_number},
        {'label': 'Issuer Address', 'value': invoice.issuer_address},
        {'label': 'Receiver', 'value': invoice.receiver},
        {'label': 'Receiver Registration Number', 'value': invoice.receiver_registration_number},
        {'label': 'Receiver Address', 'value': invoice.receiver_address},
        {'label': 'Sum Total', 'value': invoice.sum_total}
    ] %}

    {% for field in fields %}
    <div class="border-t border-gray-800 px-4 py-5 sm:p-0">
        <dl class="flex items-center gap-4 px-6">
            <dt class="text-sm flex-1">{{ field.label }}</dt>
            <dd class="text-sm flex-1">{{ field.value }}</dd>
            <button class="text-sm font-medium text-gray-500">Edit</button>
        </dl>
    </div>
    {% endfor %}

    <div class="border-t border-gray-800 px-4 py-5 sm:p-0">
        <h4 class="text-base font-semibold">Services</h4>
        <table class="min-w-full leading-normal mt-6 border-t border-gray-100">
            <thead>
                <tr>
                    <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Service Name</th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Price</th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Amount</th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Emission per Unit</th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider">Total Emissions (CO2eq)</th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider"></th>
                </tr>
            </thead>
            <tbody>
                {% for service in invoice.services %}
                <tr>
                    <td class="border-b border-gray-200 px-5 py-3 text-sm text-left">{{ service.name }}</td>
                    <td class="border-b border-gray-200 px-5 py-3 text-sm text-left">{{ service.price }}</td>
                    <td class="border-b border-gray-200 px-5 py-3 text-sm text-left">{{ service.amount }}</td>
                    <td class="border-b border-gray-200 px-5 py-3 text-sm text-left">{{ service.emission }}</td>
                    <td class="border-b border-gray-200 px-5 py-3 text-sm text-left">{{ service.total_emissions }}</td>
                    <td class="border-b border-gray-200 px-5 py-3 text-sm text-right"><button class="text-sm font-medium text-gray-500 text-right">Edit</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
