{% extends "layout.html" %}
{% block title %}File Upload{% endblock %}
{% block body %}
    <div class="flex flex-col items-center justify-center min-h-screen p-6 bg-black-100">
        <div class="mb-6">
            <h3 class="text-2xl font-semibold">Upload Invoice</h3>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="space-y-4">
                        {% for category, message in messages %}
                            <div class="px-4 py-3 rounded {{ 'bg-green-500 text-white' if category == 'alert-success' else 'bg-red-500 text-white' }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div>
            <form id="uploadForm" method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload_page') }}" class="flex flex-col items-center space-y-4">
            <input class="lock w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" type="file" id="formFile" name="file" multiple>
            <input type="submit" value="Upload" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 cursor-pointer">
        </form>
        <button id="ocrButton" method="POST" action="{{ url_for('ocr.convert_text') }}" class="flex flex-col px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 cursor-pointer">Convert invoice</button>

        </div>
    </div>
{% endblock %}